dbConn.properties
   @Override
    public String toString() {
        return "Basketball{" + "ballerID=" + ballerID + ", name=" + name + ", age=" + age + ", college=" + college + ", ppg=" + ppg + ", rpg=" + rpg + ", apg=" + apg + '}';
    }
